# Challenge Questions - TfL Dataset

# Instructions:
• Please ensure you don't overwrite any existing cells. Add new cells below by pressing ALT+ENTER

• Attempt all of the questions

• You are encouraged to look online for help should you need it

# Dataset overview:
There are three datasets stored in the same directory as this Notebook, they are all related to each other:

• **tfl-daily-cycle-hires.csv**: This dataset contains bike hire data from Transport for London during the period 
30th July 2010 to 30th September 2021. 'Day' is the day in '%d/%m/%Y' format. 'Number of Bicycle Hires' is the total number of bikes hired that day.

#

## Import pandas, numpy and datetime

## Load the files:
• "tfl-daily-cycle-hires.csv" should be assigned to the variable **tfl**

## Check the head of the DataFrame

## Check the data types of the DataFrame columns

## Change the data types and remove unnecessary columns 

• 'Day' should be a datetime64 data type

• 'Number of Bicycle Hires' should be float64

• Any other columns should be deleted

## What is the average number of bicycle hires per day across the entire dataset?

## Create a new column called 'Year' which contains the 4 digit year

## What is the average number of bicycle hires per Year across the entire dataset

## What is the total number of bicycle hires per Year across the entire dataset

## Create a new column called 'Category' on the tfl DataFrame that classifies the number of bike hires per day as:
* 'Low' if the 'Number of Bicycle Hires' is below 10,000
* 'Medium' if the 'Number of Bicycle Hires' is below 40,000 but greater than or equal to 10,000
* 'High' if the 'Number of Bicycle Hires' is greater than or equal to 40,000

## For each year in the tfl DataFrame how many days are classed as 'Low', 'Medium' or 'High'?