Python is an interpreted, object-oriented, high-level programming language with dynamic semantics.

## Variable Names

1. Permissible characters: letters(Upper and Lower), numbers and undescore(_)

2. It should start with either letter or underscore

3. It is case sensitive

In [ ]:
x = 1.0  # Declaration

In [ ]:
x = 1

In [4]:
x = 'Hello world'

## Standard Data Types
### String, float, int, long, bool

Dynamic references -> Unlike many compiled languages, such as Java and C++, object references in Python have no type associated with them.

In [5]:
a = 5
type(a)   # int

int

In [6]:
a = 1.0
type(a)   # Float

float

In [7]:
a = True
type(a)  # Boolean

bool

In [8]:
a = 'Hello world'
type(a)  # String  -- Str

str

### String

** For string we can use either single quotes ' or double quotes " **

In [11]:
temp_string = 'Hello World'   # Single quote
print(temp_string)

Hello World

In [10]:
temp_string = "Hello World" # Double quote
print(temp_string)

Hello World

Above both statements are fine. 
This is particularly useful, when you have ' or " in the data itself.

In [ ]:
single_quote_string = "'Wow!' Great place"    # Single quote is part of the string.
print(a)

In [ ]:
double_quote_string = '"Wow!" Great place'    # Double quote is part of the string.
print(a)

But what if you have both ' and " in the string and/or if you can mulitple lines?

We could use triple quotes: ''' or """

In [14]:
multiline_string = """This is a 
multiline
string.
"""

print(multiline_string)

This is a
multiline
string.

### Printing

In [15]:
print_format_string = "World's population is more than %.2f %s."
print_format_string % (7.5, 'billion')

"World's population is more than 7.50 billion."

In [17]:
# Another format
course_name = 'Python'
course_level = 'basic'

print('Welcome to {} course. This is a {} level course.' \
              .format(course_name,course_level))

Welcome to Python course. This is a basic level course.

## Binary operators: +, -, /, **, //

In [19]:
a = 10
b = 2

In [20]:
# Addition
print(a + b)

12

In [22]:
# Subtraction
print(a - b)

8

In [23]:
# Modulus or Remainder
a%b

0

In [27]:
# Quotient
a//b

5

In [24]:
# Power - 10 ^ 2 i.e. square of 10
a**b

100

In [28]:
# Comparison
a > b

True

In [25]:
a == b

False

## Control flow

Condition  -- if, elif, and else

In [29]:
a = -3
b = -5

In [31]:
# Note down the colon and Indentation, not braces

if a > 0 and b < 0:     # Logical operator AND
    print('a is positive and b is negative')
elif a > 0 and b > 0 :
    print('Both a and b are postive')
elif a < 0 and b < 0:
    print('Both a and b are negative')
else:
    print('a is negative and b is postive')

Both a and b are negative

In [32]:
# Loops
# For loop is discussed below.

In [33]:
# While loop
i = 0
while i < 10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

## Data Structures

Python has data structures which are created to store the data in particular optimized format.

### Tuple

** A tuple is a one-dimensional, fixed-length, immutable sequence of Python objects. **

In [34]:
first_tuple = 1,2,3
print(first_tuple)

(1, 2, 3)

In [36]:
first_tuple[0] = 1    # Tuples are immutable sequence

TypeError: 'tuple' object does not support item assignment

In [37]:
# Unpacking tuples

unpack_tuple = (4, 5, 6)
first_element, second_element, third_element = unpack_tuple

In [38]:
print(first_element)
print(second_element)
print(third_element)

4
5
6

### List

In [1]:
first_list = [0,1,2,3,4,5,6,7,8,9]
print(first_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
first_list.append(10)
first_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
first_list.insert(1, 1.5)
first_list

[0, 1, 2, 1.5, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
first_list.pop(1)
first_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Accessing and slicing

Python uses zero-based position index so the first element is at 0th position.

In [46]:
first_list[3:7]   # First index is inclusive and last index is exclusive

[3, 4, 5, 6]

In [47]:
# First five elements
first_list[:5]

[0, 1, 2, 3, 4]

In [48]:
# ALl items from 5th element
first_list[5:]

[5, 6, 7, 8, 9, 10]

In [49]:
# Last 4 elements
first_list[-4:]

[7, 8, 9, 10]

In [50]:
# The third parameter mentions to fetch the nth value (3rd parameter).
first_list[::2]

[0, 2, 4, 6, 8, 10]

In [51]:
# One of the ways of reversing a list
first_list[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#### Strings

In [53]:
# Strings are a sequence of characters and therefore can be treated like other sequences, such as lists and tuples:

str_list = 'hello world'
list(str_list)[:3]

['h', 'e', 'l']

Sequence Functions

Range function - list of integers from start to stop with step size

In [55]:
for i in range(2,10,1):   # Consecutive numbers from 2 to 9
    print(i)

2
3
4
5
6
7
8
9

In [56]:
# enumerate - useful if we want to retain the index while iterating
    
list_numbers = range(120, 130)
for i, value in enumerate(list_numbers):
    print(i,value)

0 120
1 121
2 122
3 123
4 124
5 125
6 126
7 127
8 128
9 129

In [58]:
# zip “pairs” up the elements of a number of lists, tuples, or other sequences, to create a list of tuples:

seq1 = [1,2,3]
seq2 = ['model1', 'model2', 'model3']

In [59]:
list(zip(seq1, seq2))

[(1, 'model1'), (2, 'model2'), (3, 'model3')]

### Dict - This structure stores key-value pairs.

Most commonly used for data analysis. Similar to a Hash Table

In [63]:
temp_dict = {1: 'hello', 2: 'world'}
temp_dict

{1: 'hello', 2: 'world'}

### Set - An unordered collection of unique elements

Most commonly used when we have to find out the unique values in a list.

In [61]:
set([1,2,3,4,4,5,5,6,6,6,6,7])

{1, 2, 3, 4, 5, 6, 7}

## Comprehensions

List, Set, and Dict Comprehensions.

They allow you to concisely form a new list by filtering the elements of a collection and transforming the elements passing the filter in one concise expression.

In [66]:
# verbose
temp_list = [1,2,3,4]

multiple_two = []
for number in temp_list:
    multiple_two.append(number*2)

print(multiple_two)

[2, 4, 6, 8]

In [69]:
# List comprehension
[number*2 for number in temp_list]

[2, 4, 6, 8]

## Functions -- makes the code modular and reusable.

In [ ]:
def squaring_number(x):
    y = x**2
    return y

In [ ]:
print(squaring_number(10))

In [ ]:
# Most of times we might end up with a function returning multiple values

def squaring_number(x):
    y = x**2
    return x,y   # returning a tuple

In [ ]:
print(squaring_number(10))

#### Lambda functions

Anonymous/Lambda functions - Simple function with single statement. We dont need to name the function, hence the name anonymous.

In [71]:
list(map(lambda x: x**2, [1,2,3,4]))  # Here we see that we dont need to name the square function.

[1, 4, 9, 16]